# Private key - never commit
certs/signing.key
certs/signing.pfx

# Build artifacts
puzzle_solver
puzzle_solver_msan
puzzle_solver_asan
puzzle_solver_afl
puzzle_solver_o3lto
puzzle_solver_parallel
puzzle_solver_plain_c
puzzle_solver_plainc.exe
puzzle_solver.zip
puzzle_solver-c-linux-amd64.zip
puzzle_solver-c-windows-amd64-unsigned.zip
puzzle_solver-c-windows-amd64-signed.zip
puzzle_solver-go-linux-amd64.zip
puzzle_solver-go-windows-amd64.zip
puzzle_solver-go-linux-amd64
puzzle_solver-go-windows-amd64.exe
afl_output/
afl_input/

# Misc
cookie.txt
